<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img
          src="assets/Img/logo_argentina_programa.png"
          alt="Logo Argentina programa"
          width="120"
        />
        <div class="yo_programo">#YoProgramo</div>
      </div>
      <div class="col">
        <button
          *ngIf="!isLogged"
          type="button"
          class="login btn-outline-light float-end social btn-sm align-baseline ms-5"
          routerLink="/login"
        >
          Login
        </button>
        <button
          *ngIf="isLogged"
          type="button"
          class="login btn-outline-light float-end social btn-sm align-baseline ms-5"
          routerLink="/portfolio"
          (click)="onLogout()"
        >
          Logout
        </button>
        <i class="bi bi-facebook float-end social px-1"></i>
        <i class="bi bi-instagram float-end social px-1"></i>
        <i class="bi bi-youtube float-end social px-1"></i>
        <i class="bi bi-linkedin float-end social px-1"></i>
        <i class="bi bi-github float-end social px-1"></i>
      </div>
    </div>
    <img
      [src]="persons.bannerImage"
      alt="Banner"
      width="100%"
      class="rounded-top"
    />

    <hr />
  </div>
</header>
